{% extends "layout.jinja2" %}
{% block content %}

<h2>研究グループの作成</h2>
<form id="form" action="{{ url_for('studies_bp.create_study') }}" method="post" enctype="multipart/form-data">
    {{ form.csrf_token }}
    {{ form.before_title(value="") }}
    <div class="field">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <div class="notification">{{ message }}</div>
        {% endfor %}
        {% endif %}
        {% endwith %}
        <div class="field">
            <label class="label">
                タイトル
            </label>
            {% if form.title.errors %}
            {% for error in form.title.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
            {% endif %}
            <div class="control">
                {{ form.title(class_="input") }}
            </div>
        </div>
        <div class="field">
            <label class="label">
                分野等
            </label>
            <div class="select">
                {{ form.field }}
            </div>
        </div>
        <div class="field">
            <label class="label">
                内容
            </label>
            <div class="columns">
                <div class="column is-half">
                    {{ form.raw_markdown(class_="textarea", rows="10", placeholder="Markdown記法に対応しています")}}
                </div>
                <div class="column is-half">
                    <div id="markdown-preview" class="markdown-container"></div>
                </div>
            </div>
        </div>
        <div class="field">
            <label class="label" data-tooltip="SNSのハッシュタグみたいなもの">
                タグ
            </label>
            <div class="field has-addons">
                <div class="control">
                    <input id="tagBox" class="input">
                </div>
                <div class="control">
                    <a class="button is-primary" id="addBtn">
                        <span class="icon is-small">
                            <i class="material-icons">add</i>
                        </span>
                    </a>
                </div>
                {{ form.tags }}
            </div>
            <div id="tagsfield" class="field is-grouped is-grouped-multiline">
            </div>
            <script>
                $('#tagBox').autocomplete({
                    source: function (request, response) {
                        var suggest = new Array();
                        $.ajax({
                            url: '/api/tag_search',
                            type: 'get',
                            cache: false,
                            dataType: 'json',
                            data: {
                                query: $('#tagBox').val()
                            }
                        }).done(function (res) {
                            for (i of res.tagList) {
                                suggest.push(i.name);
                            };
                            response(suggest);
                        }).fail(function (res) {
                            console.error(res.responseJSON);
                            response([]);
                        });
                    },
                    delay: 200
                });

                jQuery.ui.autocomplete.prototype._resizeMenu = function () {
                    var ul = this.menu.element;
                    ul.outerWidth(this.element.outerWidth());
                }

                function tagAddition(tagtext = '') {
                    if (tagtext == '') {
                        var tagtext = $('#tagBox').val().trim().replace(/[!@#$%^&*()+=\\\[\]{};:?,.\'\"]/g, '_').replace(/ +/g, ' ').replace(/ /g, '_');
                    }
                    if (tagtext != '') {
                        var tagsAmount = $('.tags .tag').length;
                        var tagDeta = '<div class="control"id="tag' + tagsAmount
                            + '"><div class="tags has-addons"><span class="tag" id="tag' + tagsAmount
                            + '">' + tagtext
                            + '</span><a class="tag is-delete" href="javascript:deleteTag('
                            + tagsAmount + ')"></a></div></div>';
                        $('#tagsfield').append(tagDeta);
                        $('#tagBox').val('');
                    };
                }
                $('#addBtn').click(function () {
                    tagAddition();
                });
                $('#tagBox').keydown(function () {
                    $('.ui-menu').width($("#tagBox").width())
                    if (event.keyCode == 13) {
                        tagAddition();
                    }
                });
                function deleteTag(num) {
                    $('#tag' + num).remove();
                };
            </script>
        </div>
        <input value="この内容で追加" type="button" class="button" onclick="addTags()">
    </div>
</form>
<script>
    $(document).ready(function () {
        $('#raw_markdown').on('input', function () {
            $.ajax({
                url: "{{ url_for('api_bp.convert') }}",
                type: 'post',
                cache: false,
                dataType: 'json',
                data: {
                    markdown: $('#raw_markdown').val()
                }
            }).done(function (res) {
                $("#markdown-preview").html(res.markdown);
                $("#summary").val(res.markdown);
            }).fail(function (res) {
                console.error(res.responseJSON);
            });
        });
    });

    function addTags() {
        var tags = [];
        $('#tagsfield .control').each(function () {
            var tag = {};
            tags.push($(this).find('.tag').text());
        });
        $('#tags').val(JSON.stringify(tags));
        $('form').submit()
    };
</script>
{% endblock %}