{% extends "layout.jinja2" %}
{% block content %}

{% if data.grave_data %}
<div class="notification is-warning">この研究は非公開または削除にされています</div>
{% endif %}
<h2>研究グループの編集</h2>
<div>
    <h3>研究グループの編集</h3>
    <form id="study_form" action="{{ url_for('studies_bp.edit_study_update', id = data.id) }}" method="post"
        enctype="multipart/form-data">
        {{ study_form.csrf_token }}
        {{ study_form.before_title(value=data.name) }}
        <div class="field">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            {% for message in messages %}
            <div class="notification is-danger">{{ message }}</div>
            {% endfor %}
            {% endif %}
            {% endwith %}
            <div class="field">
                <label class="label">
                    タイトル
                </label>
                {% if study_form.title.errors %}
                {% for error in study_form.title.errors %}
                <span style="color: red;">{{ error }}</span>
                {% endfor %}
                {% endif %}
                <div class="control">
                    {{ study_form.title(class_="input", value=data.name) }}
                </div>
            </div>
            <div class="field">
                <label class="label">
                    分野等
                </label>
                <div class="select">
                    <select id="{{ study_form.field.id }}" name="{{ study_form.field.name }}">
                        {% for value, label in study_form.field.choices %}
                        {% if value == data.field %}
                        <option value="{{ value }}" selected>{{ label }}</option>
                        {% else %}
                        <option value="{{ value }}">{{ label }}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="field">
                <label class="label">
                    内容
                </label>
                <div class="columns">
                    <div class="column is-half">
                        <textarea class="textarea" id="{{ study_form.raw_markdown.id }}"
                            name="{{ study_form.raw_markdown.name }}" rows="10">{{ data.raw_markdown }}</textarea>
                        <!-- {{ study_form.raw_markdown(class_="textarea", rows="10") }} -->
                    </div>
                    <div class="column is-half">
                        <div id="markdown-preview" class="markdown-container">
                            {{ summary | safe }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="field">
                <label class="label" data-tooltip="SNSのハッシュタグみたいなもの">
                    タグ
                </label>
                <div class="field has-addons">
                    <div class="control">
                        <input id="tagBox" class="input">
                    </div>
                    <div class="control">
                        <a class="button is-primary" id="addBtn">
                            <span class="icon is-small">
                                <i class="material-icons">add</i>
                            </span>
                        </a>
                    </div>
                    {{ study_form.tags }}
                </div>
                <div id="tagsfield" class="field is-grouped is-grouped-multiline">
                    {% for tag in data.tags %}
                    <div class="control" id="tag{{ loop.index }}">
                        <div class="tags has-addons">
                            <span class="tag" id="tag{{ loop.index }}">{{ tag.name }}</span>
                            <a class="tag is-delete" href="javascript:deleteTag({{ loop.index }})"></a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <script>
                    $('#tagBox').autocomplete({
                        source: function (request, response) {
                            var suggest = new Array();
                            $.ajax({
                                url: '/api/tag_search',
                                type: 'get',
                                cache: false,
                                dataType: 'json',
                                data: {
                                    query: $('#tagBox').val()
                                }
                            }).done(function (res) {
                                for (i of res.tagList) {
                                    suggest.push(i.name);
                                };
                                response(suggest);
                            }).fail(function (res) {
                                console.error(res.responseJSON);
                                response([]);
                            });
                        },
                        delay: 200
                    });

                    jQuery.ui.autocomplete.prototype._resizeMenu = function () {
                        var ul = this.menu.element;
                        ul.outerWidth(this.element.outerWidth());
                    }

                    function tagAddition(tagtext = '') {
                        if (tagtext == '') {
                            var tagtext = $('#tagBox').val().trim().replace(/[!@#$%^&*()+=\\\[\]{};:?,.\'\"]/g, '_').replace(/ +/g, ' ').replace(/ /g, '_');
                        }
                        if (tagtext != '') {
                            var tagsAmount = $('.tags .tag').length;
                            var tagDeta = '<div class="control"id="tag' + tagsAmount
                                + '"><div class="tags has-addons"><span class="tag" id="tag' + tagsAmount
                                + '">' + tagtext
                                + '</span><a class="tag is-delete" href="javascript:deleteTag('
                                + tagsAmount + ')"></a></div></div>';
                            $('#tagsfield').append(tagDeta);
                            $('#tagBox').val('');
                        };
                    }
                    $('#addBtn').click(function () {
                        tagAddition();
                    });
                    $('#tagBox').keydown(function () {
                        $('.ui-menu').width($("#tagBox").width())
                        if (event.keyCode == 13) {
                            tagAddition();
                        }
                    });
                    function deleteTag(num) {
                        $('#tag' + num).remove();
                    };
                </script>
            </div>
            <input value="この内容で更新" type="button" class="button" onclick="addTags()">
        </div>
    </form>
    <script>
        $(document).ready(function () {
            $('#raw_markdown').on('input', function () {
                $.ajax({
                    url: "{{ url_for('api_bp.convert') }}",
                    type: 'post',
                    cache: false,
                    dataType: 'json',
                    data: {
                        markdown: $('#raw_markdown').val()
                    }
                }).done(function (res) {
                    $("#markdown-preview").html(res.markdown);
                    $("#summary").val(res.markdown);
                }).fail(function (res) {
                    console.error(res.responseJSON);
                });
            });
        });

        function addTags() {
            var tags = [];
            $('#tagsfield .control').each(function () {
                var tag = {};
                tags.push($(this).find('.tag').text());
            });
            $('#tags').val(JSON.stringify(tags));
            $('#study_form').submit()
        };
    </script>
</div>
<div>
    <h3>ファイル一覧</h3>
    <a href="{{ url_for('files_bp.upload', parent_id = data.id) }}" class="button">ファイルを追加する</a>
    {% if data.files %}
    <table class="table">
        <thead>
            <th>ファイル名</th>
            <th>編集</th>
        </thead>
        {% for file in data.files %}
        <tr>
            <td>{{ file.name }}</td>
            <td>
                <a href="{{ url_for('files_bp.edit_file', id = file.id) }}">
                    <i class="material-icons">edit_note</i>
                </a>
            </td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
</div>
<div>
    <h3>編集できるユーザー</h3>
    <form action="{{ url_for('studies_bp.edit_study_del_author', id = data.id) }}" id="del_author_form" method="post"
        enctype="multipart/form-data">
        {{ del_author_form.csrf_token }}
        {{ del_author_form.del_author_id }}
        {% if del_author_form.del_author_id.errors %}
        {% for error in del_author_form.del_author_id.errors %}
        <span style="color: red;">{{ error }}</span>
        {% endfor %}
        {% endif %}
        <table class="table">
            <thead>
                <th>表示名</th>
                <th>ユーザー識別符号</th>
                <th>削除</th>
            </thead>
            {% for author in data.authors %}
            <tr>
                <td>{{ author.display_name }}</td>
                <td>{{ author.id }}</td>
                <td>
                    <button type="button" class="button is-small is-danger"
                        onclick="javascript:addID('{{ author.id }}')">
                        <i class="material-icons md-18">delete</i>
                    </button>
                </td>
            </tr>
            {% endfor %}
        </table>
    </form>
    <script>
        function addID(id) {
            $("#del_author_form #id").val(id);
            $("#del_author_form").submit();
        }
    </script>
    <h3>編集できるユーザーの追加</h3>
    <form action="{{ url_for('studies_bp.edit_study_add_author', id = data.id) }}" id="add_author_form" method="post"
        enctype="multipart/form-data">
        {{ add_author_form.csrf_token }}
        <div class="field">
            <label class="label">
                ユーザー識別符号
            </label>
            {% if add_author_form.add_author_id.errors %}
            {% for error in add_author_form.add_author_id.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
            {% endif %}
            {{ add_author_form.add_author_id(class_="input") }}
        </div>
        <button type="submit" class="button">このユーザーを追加</button>
    </form>
</div>
{% endblock %}