{% extends "layout.jinja2" %}
{% block content %}

<h2>{{ title }}</h2>
{{ pagination.info }}
{{ pagination.links }}
{% for result in rows %}
<div class="card">
    <header class="card-header">
        <span class="card-header-icon">
            <span class="icon">
                {% if result.type == 5 %}
                <i class="material-icons">movie</i>
                {% elif result.type ==6 %}
                <i class="material-icons">image</i>
                {% else %}
                <i class="material-icons">picture_as_pdf</i>
                {% endif %}
            </span>
        </span>
        <a class="card-header-title" href="{{ url_for('user_bp.file', id=result.id)}}">
            {{ result.name }}
        </a>
    </header>
    <div class="card-content">
        <div class="content limit-2">
            {{ result.summary }}
        </div>
    </div>
</div>
{% endfor %}
{{ pagination.links }}

{% endblock %}