{% extends "layout.jinja2" %}
{% block content %}
{{ pagination.info }}
{{ pagination.links }}
<ul class="searchResults">
    {% for news in rows %}
    <div class="level">
        <div class="level-left">
            <p class="level-item">
                <h2>
                    <a href="{{ url_for('user_bp.news', id=news.id) }}">
                        {{ news.name }}
                    </a>
                </h2>
            </p>
        </div>
        <div class="level-right">
            <p class="level-item">{{ news.create_at.strftime('%Y年%m月%d日') }}</p>
        </div>
    </div>
    <p class="limit-1">{{ clean_html(convertMarkdown(news.raw_markdown)) }}</p>
    {% endfor %}
</ul>
{{ pagination.links }}
{% endblock %}