{% extends "layout.jinja2" %}
{% block content %}

{% if data.grave_data %}
<div class="notification is-warning">この研究は非公開または削除にされています</div>
{% endif %}
<h2 class="title">{{ data.name }}</h2>
{% if editable %}
<a href="{{ url_for('studies_bp.edit_study', id = data.id)}}" class="button is-primary">この研究を編集する</a>
{% endif %}
<h3 class="title is-4">概要</h3>
<div class="container">
    {{ summary | safe }}
</div>
<div class="container">
    <nav class="panel">
        <p class="panel-heading">
            ファイル一覧
        </p>
        <div class="card-content">
            {% for file in data.files %}
            <a class="panel-block" href="{{ url_for('user_bp.file', id = file.id) }}">
                <div class="columns">
                    <div class="column is-1">
                        <span class="panel-icon">
                            {% if file.type == 5 %}
                            <i class="material-icons">movie</i>
                            {% elif file.type ==6 %}
                            <i class="material-icons">image</i>
                            {% else %}
                            <i class="material-icons">picture_as_pdf</i>
                            {% endif %}
                        </span>
                    </div>
                    <div class="column">
                        <h4>{{ file.name }}</h4>
                        <br>
                        <span class="limit-1">{{ file.summary }}</span>
                    </div>
                </div>
            </a>
            {% endfor %}
        </div>
    </nav>
</div>
<h3 class="title is-4">詳細情報</h3>
<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>項目</th>
                <th>内容</th>
            </tr>
        </thead>
        <tr>
            <th>タイトル</th>
            <td>{{ data.name }}</td>
        </tr>
        {% if current_user.is_authenticated %}
        {% if current_user.has_role('Admin') %}
        <tr>
            <th>作成者</th>
            <td>
                <div class="tags">
                    {% for author in data.authors %}
                    <a href="{{ url_for('admin_bp.user_detail', id = author.id) }}" class="tag is-info is-light">{{
                        author.display_name }}</a>
                    {% endfor %}
                </div>
            </td>
        </tr>
        {% endif%}
        {% endif %}
        <tr>
            <th>タグ</th>
            <td>
                <div class="tags">
                    {% for tag in data.tags %}
                    <a href="{{ url_for('user_bp.tag', id = tag.id) }}" class="tag tooltip">
                        {{ tag.name }}
                        <span class="tooltiptext limit-5 box">{{ tag.tips }}</span>
                    </a>
                    {% endfor %}
                </div>
            </td>
        </tr>
        <tr>
            <th>追加日</th>
            <td>{{ data.create_at.strftime('%Y年%m月%d日') }}</td>
        </tr>
        <tr>
            <th>最終更新日</th>
            <td>{{ data.update_at.strftime('%Y年%m月%d日') }}</td>
        </tr>
        <tr>
            <th>分野</th>
            <td>{% if data.field <= 3 %}{{ data.field }}分野{% else %}部活動{% endif %}</td>
        </tr>
        <tr>
            <th>合計プレビュー数</th>
            <td>{{ data.get_total_preview_count() }}</td>
        </tr>
        <tr>
            <th>合計アクセス数</th>
            <td>{{ data.get_total_access_count() }}</td>
        </tr>
        <tr>
            <th>レコード識別符号</th>
            <td>{{ data.id }}</td>
        </tr>
    </table>
    <h3 class="title is-4">この研究は役に立ちましたか?</h3>
    <div class="columns">
        <div class="column is-2">
            <a href="javascript:vote('helpful')" class="button is-primary is-outlined">
                {% if user_vote.helpful is true %}
                <i id="helpful" class="material-icons">thumb_up</i>
                {% else %}
                <i id="helpful" class="material-icons outlined">thumb_up</i>
                {% endif %}
                <span id="helpful_votes">{{ helpful_votes }}</span>
            </a>
        </div>
        <div class="column is-1"></div>
        <div class="column is-2">
            <a href="javascript:vote('unhelpful')" class="button is-warning is-outlined">
                {% if user_vote.helpful is false %}
                <i id="unhelpful" class="material-icons">thumb_down</i>
                {% else %}
                <i id="unhelpful" class="material-icons outlined">thumb_down</i>
                {% endif %}
            </a>
        </div>
        <script>
            function vote(data) {
                var formData = {
                    'helpful': data,
                    'study_id': "{{ data.id }}",
                };
                $.ajax({
                    type: 'POST',
                    url: '/vote',
                    data: JSON.stringify(formData),
                    contentType: 'application/json',
                }).done(function (response, textStatus) {
                    console.log(response);
                    $('#helpful_votes').text(response.helpful);
                    if (response.helpful == true) {
                        $('#helpful').removeClass('outlined');
                        $('#unhelpful').addClass('outlined');
                    } else if (response.helpful == false) {
                        $('#unhelpful').removeClass('outlined');
                        $('#helpful').addClass('outlined');
                    } else {
                        alert("この機能を使うにはログインしてください。");
                    };
                }).fail(function (xhr, textStatus, errorThrown) {
                    console.log("error");
                });
            };
        </script>
    </div>
</div>

{% endblock %}