{% extends "layout.jinja2" %}
{% block content %}
<h2 class="title">タグ一覧</h2>
<div class="control">
    <input type="text" id="searchTag" class="input"placeholder="タグをテキストで絞り込む">
</div>
<div id="tags-field" class="tags">
    {% for tag in tags %}
    <a href="{{ url_for('user_bp.tag', id = tag.id) }}" class="tag tooltip">
        {{ tag.name }}
        <span class="tooltiptext limit-5 box">{{ tag.tips }}</span>
    </a>
    {% endfor %}
</div>
<script>
    $(function(){
        $('#searchTag').on('input', function() {
            var searchText = $(this).val().toLowerCase();
            $('#tags-field a').each(function() {
                var text = $(this).text().toLowerCase();
                if (text.indexOf(searchText) === -1) {
                    $(this).css('display', 'none');
                } else {
                    $(this).css('display', '');
                }
            });
        });
    });
</script>
{% endblock %}