<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{{ title }} | {{ TITLE }}</title>
    <link rel="icon" href="/static/imgs/favicon.ico">
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.3.min.js"
        integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <!-- JS Plugins -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma-tooltip@3.0.2/dist/css/bulma-tooltip.min.css">
    <!-- CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/highlight.css">
    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap" rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Round|Material+Icons+Sharp|Material+Icons+Two+Tone"
        rel="stylesheet">
</head>

<body>
    <header>
        <nav class="navbar" role="navigation" aria-label="top navigation">
            <div id="targetMenu" class="navbar-menu">
                <div class="navbar-end">
                    {% if current_user.is_authenticated %}
                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link">
                            {{ current_user.display_name }}
                        </a>
                        <div class="navbar-dropdown" role="menu">
                            <a href="{{ url_for('dashboard_bp.mypage') }}" class="navbar-item">マイページ</a>
                            {% if current_user.has_role('Admin') %}
                            <a href="{{ url_for('admin_bp.index') }}" class="navbar-item">管理者ページ</a>
                            <a href="{{ url_for('admin_bp.postnews') }}" class="navbar-item">お知らせ作成</a>
                            <a href="{{ url_for('admin_bp.role') }}" class="navbar-item">管理者ユーザーの管理</a>
                            {% endif %}
                            <a href="{{ url_for('auth_bp.logout') }}" class="navbar-item">ログアウト</a>
                        </div>
                    </div>
                    {% else %}
                    <a href="{{ url_for('auth_bp.login') }}"
                        class="navbar-item is-primary button icon-text has-tooltip-left" data-tooltip="ST番号でログインできます">
                        <i class="material-icons">login</i>ログイン
                    </a>
                    {% endif %}
                </div>
            </div>
        </nav>
        <section class="hero">
            <div class="hero-body">
                <a href="/">
                    <img class="is-centered" src="/static/imgs/header_logo.png">
                </a>
            </div>
        </section>
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="menu">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
        <nav class="navbar">
            <div class="navbar-menu mx-4">
                <div class="navbar-start">
                    <a class="navbar-item has-text-link" href="{{ url_for('user_bp.index') }}">
                        <span class="icon-text">
                            <i class="material-icons">home</i>
                            <span>ホーム</span>
                        </span>
                    </a>
                    <!-- <a class="navbar-item has-text-link" href="#">
                        <span class="icon-text">
                            <i class="material-icons">grading</i>
                            <span>ランキング</span>
                        </span>
                    </a> -->
                    <a class="navbar-item has-text-link" href="{{ url_for('user_bp.search') }}">
                        <i class="material-icons">list_alt</i>
                        <span>研究一覧</span>
                    </a>
                    <a class="navbar-item has-text-link" href="{{ url_for('user_bp.taglist') }}">
                        <span class="icon-text">
                            <i class="material-icons">label</i>
                            <span>タグ一覧</span>
                        </span>
                    </a>
                    <a class="navbar-item has-text-link" href="{{ url_for('studies_bp.create_study') }}">
                        <span class="icon-text">
                            <i class="material-icons">publish</i>
                            <span>コンテンツ登録</span>
                        </span>
                    </a>
                    <a class="navbar-item has-text-link" href="{{ url_for('user_bp.newslist') }}">
                        <span class="icon-text">
                            <i class="material-icons">notifications</i>
                            <span>お知らせ</span>
                        </span>
                    </a>
                </div>
            </div>
        </nav>

        <script>
            $(function () {
                $(".navbar-burger").click(function () {
                    $(".navbar-burger").toggleClass("is-active");
                    $(".navbar-menu").toggleClass("is-active");
                });
            });
        </script>
    </header>
    <div class="columns p-2 is-desktop" style="flex: 1;">
        <div class="column is-1 is-hidden-mobile"></div>
        <div class="column is-desktop">
            <div class="box">
                <form action="{{ url_for('user_bp.search') }}" id="search" method="get">
                    <div class="field has-addons">
                        <div class="control has-icons-left">
                            <input type="search" name="query" class="input" placeholder="検索ワードを入力">
                            <span class="icon is-small is-left"><i class="material-icons">search</i></span>
                        </div>
                        <div class="control">
                            <button type="submit" class="button is-info">
                                <span class="icon-text is-small">
                                    <i class="material-icons">search</i>
                                </span>
                                <span>
                                    検索
                                </span>
                            </button>
                        </div>
                    </div>
                    <div class="field">
                        <div class="field">
                            <label class="label">分野等</label>
                            <div class="control">
                                <label class="radio">
                                    <input type="radio" name="field" value="0">
                                    全分野
                                </label>
                                <label class="radio">
                                    <input type="radio" name="field" value="1">
                                    1分野
                                </label>
                                <label class="radio">
                                    <input type="radio" name="field" value="2">
                                    2分野
                                </label>
                                <label class="radio">
                                    <input type="radio" name="field" value="3">
                                    3分野
                                </label>
                                <label class="radio">
                                    <input type="radio" name="field" value="4">
                                    部活動
                                </label>
                            </div>
                            <div class="field">
                                <label class="label">登録日</label>
                                <div class="level">
                                    <div class="level-left">
                                        <div class="level-item">
                                            <input type="date" class="button" name="create_date_start">
                                        </div>
                                        <div class="level-item">
                                            <span>から</span>
                                        </div>
                                        <div class="level-item">
                                            <input type="date" class="button" name="create_date_end">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="field">
                                <label class="label">最終更新日</label>
                                <div class="level">
                                    <div class="level-left">
                                        <div class="level-item">
                                            <input type="date" class="button" name="update_date_start">
                                        </div>
                                        <div class="level-item">
                                            <span>から</span>
                                        </div>
                                        <div class="level-item">
                                            <input type="date" class="button" name="update_date_end">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <nav class="level">
                        <div class="level-left">
                            <div class="level-item">
                                <div class="field">
                                    <label class="label">表示件数</label>
                                    <div class="select">
                                        <select name="pp">
                                            <option value="10">10</option>
                                            <option value="20">20</option>
                                            <option value="50">50</option>
                                            <option value="100">100</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="level-item">
                                <div class="field">
                                    <label class="label">表示順序</label>
                                    <div class="select">
                                        <select name="sort_column">
                                            <option value="create_at">登録日</option>
                                            <option value="update_at">最終更新日</option>
                                            <option value="access_count">アクセス数</option>
                                            <option value="preview_count">プレビュー数</option>
                                        </select>
                                    </div>
                                    <div class="select">
                                        <select name="ascending">
                                            <option value="True">昇順</option>
                                            <option value="False">降順</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="level-item">
                                <div class="field">
                                    <label class="label">表示数・順序を更新する</label>
                                    <button type="submit" class="button">更新</button>
                                </div>
                            </div>
                        </div>
                    </nav>
                    <script>
                        function getParam(name, url) {
                            if (!url) url = window.location.href;
                            name = name.replace(/[\[\]]/g, "\\$&");
                            var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
                                results = regex.exec(url);
                            if (!results) return null;
                            if (!results[2]) return '';
                            return decodeURIComponent(results[2].replace(/\+/g, " "));
                        };
                        $(function () {
                            $('input[name="query"]').val(getParam('query'));
                            $('input[name="field"][value="' + getParam('field') + '"]').prop('checked', true);
                            $('input[name="create_date_start"]').val(getParam('create_date_start'));
                            $('input[name="create_date_end"]').val(getParam('create_date_end'));
                            $('input[name="update_date_start"]').val(getParam('update_date_start'));
                            $('input[name="update_date_end"]').val(getParam('update_date_end'));
                            $('select[name="pp"] > option[value="' + getParam('pp') + '"]').prop('selected', true);
                            $('select[name="sort_column"] > option[value="' + getParam('sort_column') + '"]').prop('selected', true);
                            $('select[name="ascending"] > option[value="' + getParam('ascending') + '"]').prop('selected', true);
                        });
                    </script>
                </form>
            </div>
            <main>
                <div class="box container content">
                    {% block content %}
                    {% endblock %}
                </div>
            </main>
        </div>
        <div class="column is-2-desktop is-desktop">
            <div class="box content">
                <h3><a href="{{ url_for('user_bp.newslist') }}">お知らせ</a></h3>
                {% for news in newslist %}
                <hr>
                <h4><a href="{{ url_for('user_bp.news', id=news.id) }}">{{ news.name }}</a></h4>
                <p class="limit-3">{{ clean_html(convertMarkdown(news.raw_markdown)) }}</p>
                {% endfor %}
            </div>
        </div>
        <div class="column is-1 is-hidden-mobile"></div>
    </div>
    <footer class="footer has-background-info-light">
        <div class="container">
            このサイトは現在試験運用中です。ファイルやページにエラーが発生する可能性や読み込みが遅いなどの問題が発生する場合があります。
            <br>
            予めご了承ください。
        </div>
    </footer>
</body>

</html>