{% extends "layout.jinja2" %}
{% block content %}

<h2 class="title">タグの追加</h2>
{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<div class="notification is-danger">{{ message }}</div>
{% endfor %}
{% endif %}
{% endwith %}
<form id="form" action="{{ url_for('admin_bp.edit_tag', id=tag_id) }}" method="post"
    enctype="multipart/form-data">
    {{ form.csrf_token }}
    {{ form.before_title(value=data.name) }}
    <div class="field">
        <div class="field">
            <label class="label">
                タグの名前
            </label>
            <div class="control">
                {{ form.title(class_="input", value=data.name) }}
            </div>
        </div>
        <div class="field">
            <label class="label">
                タグの説明
            </label>
            {% if form.tips.errors %}
            {% for error in form.tips.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
            {% endif %}
            <div class="control">
                <textarea class="textarea" id="{{ form.tips.id }}" name="{{ form.tips.name }}">{{ data.tips }}</textarea>
            </div>
        </div>
        <input value="この内容で更新" type="submit" class="button">
    </div>
</form>
{% endblock %}