{% extends "layout.jinja2" %}
{% block content %}
<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
<h2 class="title">ファイルの追加</h2>
{% if form.title.errors %}
{% for error in form.title.errors %}
<span style="color: red;">{{ error }}</span>
{% endfor %}
{% endif %}
<form id="form" action="/upload" method="post" enctype="multipart/form-data">
  {{ form.csrf_token }}
  <div class="field">
    <label class="label">
      タイトル
    </label>
    <div class="control">
      {{ form.title(class_="input") }}
    </div>
  </div>
  <div class="field">
    <label class="label">
      内容
    </label>
    <div class="columns">
      <div class="column">
        <div class="divtable-data-text">
          {{ form.content(class_="textarea", row="5") }}
        </div>
      </div>
      <div class="column">
        <div id="preview" class="content"></div>
        <script>
          const markdownTextarea = document.getElementById('markdown');
          const previewDiv = document.getElementById('preview');

          function updatePreview() {
            const markdown = markdownTextarea.value;
            const html = marked(markdown);
            previewDiv.innerHTML = html;
          }

          markdownTextarea.addEventListener('input', updatePreview);
        </script>
      </div>
    </div>
  </div>
  <input value="この内容で追加" type="button"  class="button" onclick="addTags()">
</form>
<script>
  function addTags() {
    tags = [];
    tagID = $('span[id^="tag"]');
    for (i = 0; i < $('.tags .tag').length; i++) {
      tags[i] = [$(tagID[i]).text()];
    };
    $('#tags').val(JSON.stringify(tags));
    $('form').submit()
  };
</script>
{% endblock %}