{% extends "layout.jinja2" %}
{% block content %}
<h2>ファイルの編集</h2>
<input type="button" value="編集を有効化" onclick="enableEditor()">
<form id="form" action="/admin/page" method="post" enctype="multipart/form-data">
  {{ form.csrf_token }}
  {{ form.hidden_tag() }}
  <input type="hidden" name="id" value="{{ data.id }}">
  {{ form.btitle(value=data.title) }}
  <div class="divtable-container">
    <div class="divtable-row">
      <div class="divtable-title">タイトル</div>
      <div class="divtable-data">
        {% if form.title.errors %}
        {% for error in form.title.errors %}
        <span style="color: red;">{{ error }}</span>
        {% endfor %}
        {% endif %}
        {{ form.title(class_="textbox", disabled=True, id="title", value=data.title) }}
      </div>
    </div>
    <div class="divtable-row">
      <div class="divtable-title">発表年</div>
      <div class="divtable-data">
        <select id="pubYear" disabled=True>
          <option>{{ fileCreated }}</option>
        </select>
      </div>
    </div>
    <div class="divtable-row">
      <div class="divtable-title">ファイルのタイプ</div>
      <div class="divtable-data">
        <select disabled>
          <option>
            {% set types = ['ポスター発表', 'プレゼンテーション', '報告書'] %}
            {{ types[data.type-1] }}
          </option>
        </select>
      </div>
    </div>
    <div class="divtable-row">
      <div class="divtable-title">概要</div>
      <div class="divtable-data-text">
        <textarea name="summary" id="summary" disabled>{{ data.summary }}</textarea>
      </div>
    </div>
    <div class="divtable-row">
      <div class="divtable-title">分野等</div>
      <div class="divtable-data">
        <select disabled>
          <option>
            {% set field = ['1分野', '2分野', '3分野', '部活動'] %}
            {{ field[data.field-1] }}
          </option>
        </select>
      </div>
    </div>
    <div class="divtable-row">
      <div class="divtable-title">タグ</div>
      <div class="divtable-data-tags">
        <input id="tagBox" class="textbox" disabled>
        {{ form.tags(disabled=True) }}
        <input type="button" value="追加" id="addBtn">
        <div style="width: 100%;"></div>
        <span class="tags"></span>
      </div>
      <script>
        function tagAddition() {
          var tagBox = $('#tagBox').val();
          if (tagBox != '') {
            var tagsAmount = $('.tags .tag').length;
            var tagDeta = '<span class="tag" id="tag' + tagsAmount
              + '">' + tagBox
              + '<span class="delBtn" onclick="deleteTag('
              + tagsAmount + ')"></span></span>';
            $('.tags').append(tagDeta);
            $('#tagBox').val('');
          };
        }
        $('#addBtn').click(function () {
          tagAddition();
        });
        $('#tagBox').keydown(function () {
          if (event.keyCode == 13) {
            tagAddition();
          }
        });
        function deleteTag(num) {
          $('#tag' + num).remove();
        };
      </script>
    </div>
  </div>
  <br>
  <input value="この内容で追加" type="button" onclick="addTags()">
</form>
<script>
  function addTags() {
    tags = [];
    tagID = $('span[id^="tag"]');
    for (i = 0; i < $('.tags .tag').length; i++) {
      tags[i] = [$(tagID[i]).text()];
    };
    tags.unshift($('#pubYear').val());
    $('#tags').val(JSON.stringify(tags));
    $('form').submit()
  };
  function enableEditor(){
    var elems = ["#title", "#summary", "#tagBox"]
    for (const elem of elems) {
      $(elem).prop('disabled', false)
    }
  }
</script>
{% endblock %}