{% extends "layout.jinja2" %}
{% block content %}

<h2>お知らせ作成</h2>
{% if form.title.errors %}
{% for error in form.title.errors %}
<span style="color: red;">{{ error }}</span>
{% endfor %}
{% endif %}
<form id="form" action="{{ url_for('admin_bp.postnews_receive') }}" method="post" enctype="multipart/form-data">
    {{ form.csrf_token }}
    {{ form.content() }}
    <div class="field">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="notification">
            <ul>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
        {% endwith %}
        <div class="field">
            <label class="label">
                タイトル
            </label>
            <div class="control">
                {{ form.title(class_="input") }}
            </div>
        </div>
        <div class="field">
            <label class="label">
                内容
            </label>
            <div class="columns">
                <div class="column">
                    {{ form.raw_markdown(class_="textarea", rows="10")}}
                </div>
                <div class="column">
                    <div id="markdown-preview" class="markdown-container"></div>
                </div>
            </div>
        </div>
        <input value="この内容で追加" type="submit" class="button">
    </div>
</form>
<script>
    $(document).ready(function () {
        $('#raw_markdown').on('input', function () {
            $.ajax({
                url: "{{ url_for('api_bp.convert') }}",
                type: 'post',
                cache: false,
                dataType: 'json',
                data: {
                    markdown: $('#raw_markdown').val()
                }
            }).done(function (res) {
                $("#markdown-preview").html(res.markdown);
                $("#summary").val(res.markdown);
            }).fail(function (res) {
                console.error(res.responseJSON);
            });
        });
    });
</script>
{% endblock %}