{% extends "layout.jinja2" %}
{% block content %}
<h2>タグの追加</h2>
<div>
    <form action="/admin/tag" method="post">
        <div class="divtable-container">
            <div class="divtable-row">
                <div class="divtable-title">タグ名</div>
                <div class="divtable-data"><input type="text" name="tag" class="textbox"></div>
            </div>
            <div class="divtable-row">
                <div class="divtable-title">説明</div>
                <div class="divtable-data-text"><textarea name="tips"></textarea></div>
            </div>
            <div class="divtable-row">
                <div class="divtable-title">種別</div>
                <div class="divtable-data">
                    <select name="type">
                        <option value="1">一般</option>
                        <option value="2">年別</option>
                        <option value="3">受賞</option>
                    </select>
                </div>
            </div>
        </div>
        <input type="submit" value="この内容で追加">
    </form>
</div>
<h2>タグ一覧</h2>
<form id="tagsList" action="/admin/tag">
    <input hidden id="deleteTag" name="deleteTag">
    <script>
        function delSubmit(id, tagName) {
            var result = confirm('"' + tagName + '"を削除してもよろしいですか？');
            if (result) {
                $('#deleteTag').val(id);
                $('#tagList').submit();
            };
        };
    </script>
    <div class="tagTable">
        {% for tag in tags %}
        <div class="tagTable-row">
            <div class="tagTable-tag"><a href="/admin/tag/{{ tag.tag }}">{{ tag.tag }}</a></div>
            <div class="tagTable-tip">{{ tag.tips }}</div>
            <div class="tagTable-btn"><img src="/static/imgs/pencil.png" onclick=""></div>
            <div class="tagTable-btn"><img src="/static/imgs/trashcan.png" onclick="delSubmit('{{ tag.id }}', '{{ tag.tag }}')"></div>
        </div>
        {% endfor %}
    </div>
</form>
{% endblock %}