{% extends "layout.jinja2" %}
{% block content %}
<h2 class="title">ファイルの追加</h2>
<form id="form" action="/admin/upload/" method="post" enctype="multipart/form-data">
  {{ form.csrf_token }}
  {{ form.id(value=id) }}
  <div class="field">
    <label class="label">
      アップロード
    </label>
    <div class="file">
      <label class="file-label" id="file-form">
        {{ form.files(accept="application/pdf", class_="file-input") }}
          <span class="file-cta">
          <span class="file-label">
            ファイルを選択…
          </span>
        </span>
      </label>
    <script>
      $("#files").on('change', function() {
        pdfdata = new FormData($('#form')[0]);
        $(".file-name").remove();
        $("#filetable").empty();
        files = $("#files").prop('files');
        $("#filetable").append('<table class="table"><thead><tr><td>ファイル名</td></thead><tbody id="fileTableBody"></thead></table>')
        for(var file of files){
          $("#fileTableBody").append('<tr><td>' + file["name"] + '</td></tr>')
        }
      });
    </script>
  </div>
  <div id="filetable"></div>
  <div class="field">
    <label class="label" data-tooltip="このファイルの形式">
      タイプ
    </label>
    <div class="select">
      {{ form.type }}
    </div>
  </div>
  <div class="field">
    <label class="label" data-tooltip="このファイルを作成した班の所属など">
      分野等
    </label>
    <div class="select">
      {{ form.field }}
    </div>
  </div>
  <input value="この内容で追加" type="submit" class="button">
</form>
<div id="progress" class="modal">
  <div class="modal-background"></div>
  <div class="modal-content">
    <div class="box">
      <h3 class="title">進捗</h3>
      <progress id="progress_bar" class="progress is-primary is-large" value="0" max="100">0%</progress>
      <p id="file-field"></p>
    </div>
  </div>
</div>
<script>
  $(document).ready(function() {
    form = document.forms["form"];
    $(form).on('submit',function(event){
      event.preventDefault();
      $("#progress").addClass("is-active");

      formData = new FormData(document.getElementById('form'));

      $.ajax({
        url: '{{ url_for("admin_bp.upload_receive") }}',
        type: 'POST',
        data: formData,
        processData: false,
        contentType: false,
        xhr: function() {
          var xhr = $.ajaxSettings.xhr();
          xhr.onprogress = function(event) {
            console.log(event)
            if (event.lengthComputable) {
              var percentComplete = event.loaded / event.total;
              console.log(percentComplete);
            }
          };
          return xhr;
        }
      }).done(function(data, textStatus, jqXHR){
        window.location.href = '{{ url_for("admin_bp.upload_result") }}?id=' + data['id'];
      }).fail(function(jqXHR, textStatus, errorThrown){
        alert("何らかの理由によりアップロードに失敗しました\n時間をおいて試してみてください");
      });
      var source = new EventSource('{{ url_for("admin_bp.stream_response") }}?id={{ id }}');
      source.onmessage = function(event) {
        var progress_data = JSON.parse(event.data);
        if (progress_data['status'] = 'started') {
          message = "開始: ";
        } else {
          message = "終了: ";
          $("#progress_bar").val(progress_data['progress']);
        }
        console.log(progress_data);
        $("#file-field").text(message + progress_data['file']);
      };
    });
  });

</script>
{% endblock %}