{% extends "layout.jinja2" %}
{% block content %}

<h2>ユーザーの一覧</h2>
{{ pagination.info }}
{{ pagination.links }}
<table class="table">
    <thead>
        <th>表示名</th>
        <th>ユーザー名</th>
        <th>ユーザー識別符号</th>
        <th>登録日</th>
    </thead>
    {% for user in rows %}
    <tr>
        <td><a href="{{ url_for('admin_bp.user_detail', id = user.id) }}">{{ user.display_name }}</a></td>
        <td>{{ user.name }}</td>
        <td>{{ user.id }}</td>
        <td>{{ user.create_at.strftime('%Y年%m月%d日') }}</td>
    </tr>
    {% endfor %}
</table>
{{ pagination.links }}

{% endblock %}