{% extends "layout.jinja2" %}
{% block content %}

<h2>{{ user.display_name }}</h2>
<h3>ユーザー情報</h3>
<table>
    <thead>
        <th>項目</th>
        <th>データ</th>
    </thead>
    <tr>
        <th>ユーザー名</th>
        <td>{{ user.name }}</td>
    </tr>
    <tr>
        <th>表示名</th>
        <td>{{ user.display_name }}</td>
    </tr>
    <tr>
        <th>ユーザー識別符号</th>
        <td>{{ user.id }}</td>
    </tr>
    <tr>
        <th>登録日</th>
        <td>{{ user.create_at.strftime('%Y年%m月%d日') }}</td>
    </tr>
</table>
<h3>参加研究</h3>
<div class="container">
    <nav class="panel">
        <p class="panel-heading">
            研究一覧
        </p>
        <div class="card-content">
            {% for study in user.studies %}
            <a class="panel-block" href="{{ url_for('user_bp.study', id = study.id) }}">
                {{ study.name }}
            </a>
            {% endfor %}
        </div>
    </nav>
</div>

{% endblock %}