{% extends "layout.jinja2" %}
{% block content %}
<h2 class="title">Internal Server Error 500</h2>
現在何らかの原因により正常に動作できないようです。<br>
管理者に問い合わせるか時間をおいて試してみてください。<br>
Error ID: {{ error_id }}
{% endblock %}